@charset "UTF-8";

@font-face {
	font-family: 'IBMPlexSansKR-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
input:focus {outline:none;}

* {
	box-sizing: border-box;
	font-family: 'IBMPlexSansKR-Regular';
}

a {
	text-decoration: none;
	color: black;
	outline: none;
}

.hidden {
	position: absolute;
	left: -5000px;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

#container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	width: 100%
}

#container>header {
	display: flex;
	align-items: center;
	height: 80px;
	padding: 10px;
	background: #FA3B3B;
	height: 100px;
	align-items: center;
}
#done{visibility: hidden;}

#menu {
	display:flex;
	flex-direction:row;
	align-items:center;
	margin-left: 50px;
	flex-grow: 2;
	margin-right: 50px;
}
#search{margin-left:  40%; border-bottom: 1px solid black;}
#search>input{width: 400px; height: 30px ; border: 0; background: none
}
#searchI{font-size:20px}

#search>input::placeholder{padding:8px; color:#C9D4D2 }

#menu>a {
	margin-right:25px;
	display: inline-block;
	color: #EDFEF7;
	font-size:1.1em;
}

#container>header .material-icons {font-size:40px}

.addr{
	width:200px;
}
#userinfo {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
}

#userNm {
	font-weight: bold;
	font-size: smaller;
}

.containerPImg>img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-right: 8px;
}
#stor {text-align: center;}

#logOut {
	margin-left: 20px;
	margin-right: 30px;
	font-size: smaller;
}

#container>section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	
}

#container>footer {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #5E5554;
	height: 50px;
}

#sectionContainerCenter {
	width: 100%;
	height: 100%;
	display: flex;
	
	justify-content: center;
	align-items: center;
}
#mapContainer{width: 100%; height: 100%;}

.frm {
	padding: 20px;
	border: 1px solid blue;
}

a {
	text-decoration: none;
}

#msg {
	font-weight: bold;
	color: red;
}
