@charset "UTF-8";

.recommendMenuContainer{
	width:1200px;
	height:300px;
	overflow-y:hidden; 
 	overflow-x:auto; 
	padding: 5px;
	display:flex;
	flex-direction:row
}

.recommendMenuContainer .recMenuItem{

	margin-left: 20px;
 	position: relative;

}
.recommendMenuContainer .recMenuItem .pic img {
	width: 200px;
	height: 200px;
   

}
.delIconContainer >.material-icons{
position: absolute;
top:15px;
font-size: 18px;
margin-left:10px;
cursor: pointer;

}
.MenuContainer{
	width:500px;
	height:70px;
	padding: 5px;
	display:flex;
	flex-direction:row;
}
.MenuContainer .MenuItem{
	margin-left: 20px;
 	position: relative;
 	color: white;
	
}

.MenuContainer .MenuItem .pic img{
	width: 50px;
	height: 50px;
   
}
.menuItem bg_black {
	width: 50px;
	height: 50px;
}

.MenuContainer .delIconContainer >.material-icons{
position: absolute;
top:5px;
font-size: 1px;
margin-left:10px;
cursor: pointer;